extends layout

block content
  section
    h1=__("about")
    div(class="news-title" style="padding-top:30px") our dimension
    div(class="slogan about-section") form inside function
    div(class="slogan-sub about-section") () => {new formData()}
    p(class="about-section") spatial // product // graphic // development
  
    div(class="news-title mt-50") subsidiaries
    div(class="grid-wrapper-3")
      div(class="grid-item-no-hover")
        img(src="/img/brand/humasim.jpg")
        h3 HUMASIM
      div(class="grid-item-no-hover")
        img(src="/img/brand/dimlab.jpg")
        h3 DIMLAB
    div(class="news-title") partners
    div(class="grid-wrapper-3")
      div(class="grid-item-no-hover")
        img(src="/img/brand/wenext.jpg")
        h3 WENEXT
      div(class="grid-item-no-hover")
        img(src="/img/brand/zcc.jpg")
        h3 SCC TECH
