extends layout

block content
  section
    h1 about
    div(class="slogan") think by inspiration
  section
    h1 subsidiaries
    div(class="grid-wrapper")
      div(class="grid-item-no-hover")
        img(src="https://inslens.com/media/Partner/1.jpg")
        h3 HUMASIM
      div(class="grid-item-no-hover")
        img(src="https://inslens.com/media/Partner/2.jpg")
        h3 WENEXT
    h1 partners
