extends layout

block content
  section
    h1 about
    div(class="slogan about-section") think by inspiration
    h2(class="about-section") spatial // product // graphic // more
  section
    h1 subsidiaries
    div(class="grid-wrapper")
      div(class="grid-item-no-hover")
        img(src="/img/brand/humasim.jpg")
        h3 HUMASIM
      div(class="grid-item-no-hover")
        img(src="/img/brand/dimlab.jpg")
        h3 DIMLAB
    h1 partners
    div(class="grid-wrapper")
      div(class="grid-item-no-hover")
        img(src="/img/brand/wenext.jpg")
        h3 WENEXT
      div(class="grid-item-no-hover")
        img(src="/img/brand/piclass.jpg")
        h3 PICLASS
      div(class="grid-item-no-hover")
        img(src="/img/brand/zcc.jpg")
        h3 ZCC
