extends layout

block content
  section
    h1 about
    div(class="news-title" style="padding-top:30px") insdim
    div(class="slogan about-section") form inside function
    p(class="about-section") spatial // product // graphic // more
  section
    div(class="news-title") subsidiaries
    div(class="grid-wrapper")
      div(class="grid-item-no-hover")
        img(src="/img/brand/humasim.jpg")
        h3 HUMASIM
      div(class="grid-item-no-hover")
        img(src="/img/brand/dimlab.jpg")
        h3 DIMLAB
    div(class="news-title") partners
    div(class="grid-wrapper")
      div(class="grid-item-no-hover")
        img(src="/img/brand/wenext.jpg")
        h3 WENEXT
      div(class="grid-item-no-hover")
        img(src="/img/brand/zcc.jpg")
        h3 ZCC
