extends layout

block content
  section
    h1 collection 
    div(class="grid-wrapper")      
        div(class="grid-item")
          a(href="/collection/5c4861c406e44d31100fad18")
            div(class="grid-box")
              div(class="grid-thumbnail")
                img(src="https://www.inslens.com//media/Work/36/010e08481e034a8bb7f30a2ca6fb0b50.jpg")
              div(class="grid-title") 
                h3 DIMLAB
                span INSDIM

  script(src="/js/grid.min.js")

