extends layout

block content
  section
    h1 collection - #{year}
    div(class="grid-wrapper")    
      each item in workList  
        div(class="grid-item")
          a(href="/collection/5c4861c406e44d31100fad18")
            div(class="grid-box")
              div(class="grid-thumbnail")
                img(src=item.titlePic)
              div(class="grid-title") 
                h3= item.title
                span= item.client

  script(src="/js/grid.min.js")

