extends layout

block content
  section
    h1= __("news")
    
    each item in newsList
      div(class="news-item")
        div(class="news-title")= item.title
        p!= item.content
        div(class="news-pic")
          img(src=item.titlePic.url)
      hr