extends layout

block content
  section
    h1= __("news")
    
    each item in newsList
      div(class="news-item")
        div(class="news-title")= item.title
        span= item.createTimeFormat
        a(href="/news/"+item._id class="news-link")
          span learn more

      hr