extends layout

block content
  section
    each item in newsList
      div(class="news-item")
        div(class="news-title")= item.title
        div(class="news-pic")
          img(src="/media/Work/1/lazy.gif")
        p= item.title
      hr