extends layout

block content
  section
    h1 news
    
    each item in newsList
      div(class="news-item")
        div(class="news-title")= item.title
        p= item.content
        div(class="news-pic")
          img(src="https://inslens.com/media/News/7/693469b1114743b896ddcc252f045ef2.jpg")
      hr