doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    title INSLENS | A DESIGN COMPANY
    link(rel="shortcut icon",href="/img/favicon.jpg") 
    link(rel="icon",href="/img/favicon.jpg",type="image/x-icon") 
    link(rel='stylesheet', href='/css/style.min.css')
    link(rel='stylesheet', href='/css/grid.min.css')



  body
    div(id="loader" class="loader")
      div(class="spinner" id="spinner")
        div(class="double-bounce1")
        div(class="double-bounce2")
    div(class="sidebar" id="sidebar")
      a(class="sidebar-toggle toggle-close" onclick="closeSidebar()")
        i(class="menu iconfont icon-close")

      div(class="logo")
        img(src="/img/favicon.jpg" width="120" height="120" alt="")
      div(class="sidebar-links")
        a(class="sidebar-standard-links" id="news" href="/") news
        a(class="sidebar-standard-links" id="collection" href="/collection/2019") collection 
      
        a(class="sidebar-standard-links" id="about" href="/about") about
        a(class="sidebar-standard-links" id="contact" href="/contact") contact

        div(class="sidebar-sub" id="collection-sub")
          each item in yearList
            a(class="sidebar-sub-links" id=item href="/collection/"+item) #{item}        

    div(class="main")
      div(class="sidebar-toggle")
        div(class="container-fluid")
          a(onclick="openSidebar()")
            i(class="menu iconfont icon-HAMBURGERMENU")
      div(class="container-fluid")
        block content
      footer
        div(class="container-fluid")
          -var thisYear = new Date().getFullYear()
          h3 COPYRIGHT © #{thisYear} INSLENS
          h4 think by inspiration
          h5 沪ICP备16025975号-1

  script(src="/js/loading.min.js")
  script(src="/js/public.min.js")








