extends layout

block content
  section
    a(href="/")
      h4(style="font-weight:600") #{__("backHome")}
    h2= post.title
    if locale=='en'
      p!= post.contentEn
    else 
      p!= post.content
