/* grid */

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: -5px;
  margin-right: -5px;
  padding: 15px 0;
}

.lang-switcher {
  margin-left: 0px !important;
  padding: 15px 0 15px 40px;
}

.grid-wrapper-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: -5px;
  margin-right: -5px;
  padding: 15px 0;
}

.grid-item {
  margin: 5px;
  text-align: left;
  cursor: pointer;
}

.grid-item-no-hover {
  margin: 5px;
  text-align: center;
}

.grid-box {
  overflow: hidden;
  position: relative;
  background-color: #000;
}

.grid-thumbnail {
  overflow: hidden;
  transition: opacity 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: opacity 0.27s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transition: opacity 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.grid-thumbnail:hover {
  opacity: 0.3;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.grid-title {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 100%;
  opacity: 0;
  color: rgb(207, 207, 207);
  pointer-events: none;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.grid-title h3 {
  line-height: 1.1;
  margin-block-end: 0.3em;
  font-weight: 500;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
}

.grid-title span {
  line-height: 1.1;
  color: rgb(150, 150, 150);
}

.grid-title-mob {
  display: none;
}

@media (max-width: 62em) {
  .grid-item {
    margin: 5px;
  }
  .grid-wrapper,
  .grid-wrapper-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-thumbnail:hover {
    opacity: 1;
  }
  .grid-title {
    display: none;
  }
  .grid-title-mob {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .grid-title-mob h3 {
    line-height: 1.1;
    margin-block-end: 0.3em;
    font-weight: 500;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
  }
  .grid-title-mob span {
    line-height: 1.1;
    color: rgb(102, 102, 102);
  }
}
