@import url('https://fonts.loli.net/css?family=Dosis|Open+Sans');
@import url('https://at.alicdn.com/t/font_1033024_u4qw8uidx7r.css');
/* main */

body {
  color: #111;
  font-size: 14px;
  font-family: "Dosis", "Open Sans";
  text-transform: uppercase;
  line-height: 1.6;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu {
  font-size: 30px;
  cursor: pointer;
}

a {
  color: #111;
  text-decoration: none
}

a:hover {
  color: rgb(43, 43, 43);
  text-decoration: none;
}

::selection {
  background: #1b1b1b;
  color: rgb(233, 233, 233);
}

::-moz-selection {
  background: #1b1b1b;
  color: rgb(233, 233, 233);
}

::-webkit-selection {
  background: #1b1b1b;
  color: rgb(233, 233, 233);
}

hr {
  border: 0;
  background-color: #000;
  margin-top: 20px;
  border-top: 1px solid #eee
}

h1 {
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 0.2em;
}

h2 {
  font-weight: 400;
  letter-spacing: 0.2em
}

h3 {
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 14px
}

h4 {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.2em
}

h5 {
  font-size: 8px;
  font-weight: 400
}

p {
  color: rgb(68, 68, 68);
  letter-spacing: 0.1em;
}

.mb-50 {
  margin-bottom: 50px
}

.mt-50 {
  margin-top: 50px
}

span {
  letter-spacing: 0.1em;
  font-size: 10px;
  color: rgb(48, 48, 48)
}

.back {
  font-size: 15px
}

ul {
  -webkit-padding-start: 0em;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: opacity 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -webkit-transition: opacity 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  top: 45%;
  left: 50%
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.sidebar {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding: 20px 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sidebar-toggle {
  display: none !important
}

.sidebar-links {
  padding-top: 20px;
  user-select: none;
}

.sidebar a {
  text-decoration: none;
  font-weight: 400;
  color: rgb(56, 56, 56);
  display: block;
  text-align: left;
  line-height: 1.9;
  letter-spacing: 2px;
  margin-left: 40px;
  width: 100px;
  /* font-family: 'Open Sans'; */
  /* background-color: #fff; */
  transition: background-color 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: background-color 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -webkit-transition: background-color 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.sidebar a:hover {
  background-color: rgb(20, 20, 20);
  color: white;
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.sidebar-standard-links {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.sidebar-fold-group {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  opacity: 0;
  height: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sidebar-sub {
  margin-left: 140px;
  margin-top: -138px
}

.sidebar-sub-links {
  padding: 5px;
  width: 50px !important
}

.sidebar-fold-links {
  font-size: 12px;
  padding: 5px
}

.logo {
  display: block;
  padding: 40px;
  text-align: left
}

.main {
  margin-left: 270px;
  padding: 20px 0
}

section {
  padding: 80px 0
}

footer {
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.5em;
  margin: 100px 0 10px 0
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  pointer-events: none;
}

.container-fluid {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* news */

.news-item {
  padding: 50px 0;
}

.news-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.4;
  margin-bottom: 20px
}

.news-pic {
  padding: 20px 0;
}

/* about */

.slogan {
  text-align: center;
  padding: 90px 0;
  letter-spacing: 0.2em;
  font-size: 32px
}

/* map */

.map {
  height: 500px;
  margin: 40px 0 70px 0
}

/* gallery */

.gallery-item {
  margin: 30px 0
}

.gallery-pic {
  width: 100%;
}

@media(max-width: 62em) {
  .sidebar {
    width: 0%;
    opacity: 0
  }
  .main {
    margin-left: 0;
    padding: 20px 0
  }
  .container-fluid {
    padding: 0 5%
  }
  .sidebar-toggle {
    display: block !important;
  }
  .spinner {
    left: 45%
  }
  .toggle-close {
    width: 37px !important;
    padding-left: 10px;
    padding-right: 5px
  }
}